<div>
  <h1>starter project MEAN stack</h1>
  <div>
    <h2>Add a card</h2>
    <form [formGroup]="postForm" (ngSubmit)="onAddPost()">
      <input type="text" placeholder="Title" formControlName="title">
      <input type="text" placeholder="Content" formControlName="content">
      <button type="submit">ADD</button>
    </form>
  </div>
  <div>
    <h2>Cards</h2>
    <div *ngIf="cardList.length != 0; else loading">
      <ul *ngFor="let item of cardList">
        <li>TITLE: {{ item.title }} CONTENT: {{ item.content }}</li><button (click)="deletePost(item._id)">DELETE</button>
      </ul>
    </div>
    <ng-template #loading>
      <p>Loading...</p>
    </ng-template>
    
  </div>
</div>