<div class="card editPostContainer">
    <form [formGroup]="editPostForm" (ngSubmit)="saveChanges()">
        <div class="form-group">
            <label for="titleForm">Title</label>
            <input type="text" formControlName="titleForm" class="form-control" placeholder="Enter title">
        </div>
        <div class="form-group">
            <label for="contentForm">Content</label>
            <input type="text" formControlName="contentForm" class="form-control" placeholder="Enter content">
        </div>
        <button class="btn btn-outline-success" type="submit">SAVE</button>
    </form>
</div>